# Dependências (NUNCA suba isso, é o que trava o GitHub)
node_modules/

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Expo e arquivos de sistema
.expo/
dist/
web-build/

# Configurações locais e Segredos (MUITO importante)
.env
.env*.local
*.jks
*.p8
*.p12
*.key

# Logs de erro (só servem para ocupar espaço)
npm-debug.*
yarn-debug.*
yarn-error.*

# Outros
.DS_Store
*.tsbuildinfo